<a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Web_components">
  <img class="icon" src="/web_component.svg" alt="web component icon">
</a>
<slot></slot>
<div class="use">
  <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Web_components/Using_custom_elements">custom elements</a>
  <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Web_components/Using_shadow_DOM">shadow DOM</a>
  <a href="https://developer.mozilla.org/zh-CN/docs/Web/API/Web_components/Using_templates_and_slots">templates and slots</a>
</div>
<button>count is <span></span></button>
